body {
    width: 99%;
}

.resume-grid {
    border: 1px solid black;
    margin-left:10px;
    margin-right: 10px;
    & h2 {
        background-color: gray;
        margin-left: auto;
        margin-right: auto;
    }
}

.resume-title {
    margin-top: 50px;
}

.personal-summary p {
    margin-left: 10px;
    margin-right: 10px;
    text-align: left;
}

.resume-skills {
    text-align: left !important;
}

.work-experience {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-areas: "schwab"
                            "swift"
                            "rgis"
                            "sch"
                            "c2c";
}

.comp-date {
    display: flex;
    justify-content: space-between;
}


.c2c {
    grid-area: c2c;
    border-top: none !important;
}

.sch {
    grid-area: sch;
}

.rgis {
    grid-area: rgis;
}

.swift {
    grid-area: swift;
}

.schwab {
    grid-area: schwab;
}

.job {
    border-bottom: 1px solid black;
    display: flex;
}

.inner-job {
    width: 100%;
    margin-left: 10px;
    margin-right: 10px;
}

.job h3, .iaes h2, .contact h2, .personal-summary h2, .work-experience-heading  {
    text-align: left;
    color: blue !important;
    margin-bottom: 5px;
    margin-top: 5px;
}

.contact h2, .personal-summary h2, .work-experience-heading, .iaes h2 {
    padding-left: 10px !important;
}

.iaes-grid .bulleted {
    & li {
        margin-top: 10px;
    } 
}

.bulleted {
    padding-left: 20px;
    margin-left: 10px;
}

.inner-job .ul-break {
    display:block;
}

.bulleted {
    list-style:disc;
    & li {
        margin-bottom: 10px;
    }
}

.cert {
    width: 100%;
}

.resume-download {
    margin-bottom: 10px;
    color: blue;
}

.contact div {
    display: flex;
    justify-content: space-around;
}

.contact p {
    margin-top: 5px;
    margin-bottom: 5px;
}

.by-line p {
    margin-left: 10px;
    margin-top: 0px;
    margin-bottom: 0px;
}


@media screen and (min-width: 768px) {



    .ul-break {
        display: flex !important;
        justify-content: space-around;
        & div:not(.margin-fix, .except) {
            width: 128px;
        }
    }

    .ul-skills {
        margin: 15px !important;
    }

    nav .ul-break div{
        display: flex;
    }

    .cert {
        display:flex;
        margin-left: auto;
        margin-right: auto;
        width: 50%;
    }
}